<h1 class="text-center">Search Movies</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="input-group mb-3">
            <input id="searchBox" type="text" class="form-control" placeholder="Deadpool" aria-label="Movie name" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button (click)="searchIt('1')" class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
                <select class="btn btn-outline-secondary" name="" id="type">
                    <option value="movie">Movies</option>
                    <option value="series">Series</option>
                    <option value="episode">Episode</option>
                </select>
            </div>
        </div>
    </div>
</div>

<br>
<div class="text-center h5">
    <span class="" *ngFor=" let page of totals; let i = index">
        <a href="#" (click)="searchIt(i+1)">
            <span>&nbsp;{{ i+1 }}&nbsp;</span>
        </a>
    </span>
</div>
<div  >


<div [@routerTransition]="animate" class="row justify-content-center px-2">
    <div class=" card-deck col-xl-4 col-lg-6 col-md-6 col-sm-8 offset-sm-2 text-center p-4" *ngFor="let mov of movie.Search">
        <div  [ngClass]="{'block': animate }" class="card" data-toggle="modal" data-target="#exampleModal" (click)="getMoreInfo(mov.imdbID)">
            <a class="pt-3 mx-auto">
                <img [src]="(mov.Poster != 'N/A') ? mov.Poster : './assets/image.png'" class="card-img-top m-2" style="height: auto; width: 290px;" alt="Card image cap">
            </a>
            <div class="card-body">
                <p class="card-text">{{ mov.Title }}</p>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ movieInfo.Title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <strong>Year:</strong> {{ movieInfo.Year }}</p>
                <p>
                    <strong>Rated:</strong> {{ movieInfo.Rated }}</p>
                <p>
                    <strong>Release:</strong> {{ movieInfo.Released }}</p>
                <p>
                    <strong>Runtime:</strong> {{ movieInfo.Runtime }}</p>
                <p>
                    <strong>Actors:</strong> {{ movieInfo.Actors }}</p>
                <p>
                    <strong>Awards:</strong> {{ movieInfo.Awards }}</p>
                <p>
                    <strong>Genre:</strong> {{ movieInfo.Genre }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>